.landing-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contact-line {
    height: 30px;
    background-color: #F5F7FA;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-phone,
.header-mail {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    font-size: 14px;
    margin-right: 50px;
}

.header-mail .icon,
.header-phone .icon {
    font-size: 20px;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 50px;
}

nav h1 {
    font-size: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul a {
    padding: 12px 10px;
    font-size: 20px;
}

nav ul .nav-btn-1 {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #1565c0;
    color: white;
    font-weight: 700;
}

nav ul .nav-btn-2 {
    width: 170px;
    height: 40px;
    border: 2px solid #1565c0;
    border-radius: 10px;
    background-color: transparent;
    color: #1565c0;
    font-weight: 700;
    font-size: 16px;
}

.logo {
    display: flex;
    align-items: center;
}

/* header container */

.header-container {
    height: 87.6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: #F5F7FA;
}

.header-container .header-image img {
    width: 400px;
}

.header-container .header-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-container .header-text>h1 {
    font-size: 60px;
    font-weight: 800;
    color: #4D4D4D;
}

.header-container .header-text h1 >span {
    font-size: 60px;
    font-weight: 800;
    color: #1565c0;
}

.header-container .header-text>p {
    font-size: 14px;
    color: #717171;
}

.header-container .header-text>button {
    width: 200px;
    height: 60px;
    background-color: #1565c0;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    box-shadow: none;
    font-weight: 600;
}