.dashboard-page-data{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    align-items: center;
    justify-content:center;
    width: 100%;
    margin: 15px 5%;
}

.dashboard-page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dashboard-page-card{
    background-color: white;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    padding-left: 30px;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.dashboard-page-data-card h1{
font-size:50px!important;
padding: 10px;
}

.card-icon{
    background-color: lightblue;
    padding: 10px;
    font-size:50px;
    border-radius: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
}